* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 10vh;
    height: 3vh;
    margin-bottom: 5vh;
    text-transform: uppercase;
    border: none;
}

#restart {
    display: none;
}

.container {
    height: 400px;
    width: 50%;
    border: 1px solid white;
    position: relative;
    overflow: hidden;

}

.player {
    position: absolute;
    height: 100px;
    width: 40px;
    background-color: black;
    left: 50px;
    bottom: 0;
    background-image: url(./piter.png);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

}

.jump {
    animation: jump 0.7s ease-in-out;
}

.fence {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: black;
    right: 0px;
    bottom: 0;
    background-image: url(./fence.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.move {
    animation: move 2s linear infinite;

}

@keyframes jump {
    0% {
        bottom: 0;
    }

    30% {
        bottom: 100px;
    }

    70% {
        bottom: 100px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes move {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }


}

@media(max-width: 1024px) {
    .container {
        width: 95%;
    }

    .move {
        animation: move 1s linear infinite;

    }

}